<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>shows</title>
</head>

<body>
    <div class="container mt-5">
        <h1>All shows</h1>
        <br><br>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for show in shows %}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.release_date}}</td>
                    <td><a href="/shows/{{show.id}}">Show</a> | <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <a href="/shows/new">Add a New Show</a>
    </div>
</body>

</html>